.login-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}



.login-img{
    object-fit: contain;
    /* width: 200px; */
    height: 100px;
    margin-top: 30px;
    margin-bottom: 20px;

    
}

.login-form{
    display: flex;
    flex-direction: column;
}

.login-form > input {
  
    height: 40px;
    width: 300px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: solid 1px;
    padding-left: 5px;
}

.login-button{
    background-color:#0077B5;
    height: 40px;
    margin-top: 20px;
    color: white;
    border-radius: 5px;
    border: solid 1 px;
    margin-bottom: 2px;
    cursor: pointer;
}

.user{
    margin-top: 4px;
    display: flex;
    align-items: center;
}

.user > h4 {
    cursor: pointer;
}

.register{
    color: #0077B5;
    margin-left: 3px;

}

